.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  height: 282px;
  width: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  background-color: #fff;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  margin: 0;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__like-button {
  background: transparent url(../images/like-icon.svg) center no-repeat;
  width: 21px;
  height: 18px;
  margin: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button:active {
  opacity: 0.8;
}
